<!-- <a href="https://esdocu.com/form" target="_blank">
    <img src="/img/esdocu-dev-news.png" style="width: 100%; max-width: 444px; margin: 20px 0">
</a> -->

<iframe src="/form" id="myIframe" frameborder="0" style="width:100%;height:234px;"></iframe>
<script>
    // Selecting the iframe element
    var iframe = document.getElementById("myIframe");
    
    // Adjusting the iframe height onload event
    iframe.onload = function(){
        iframe.style.height = iframe.contentWindow.document.body.scrollHeight + 80 + 'px';
    }

    window.onresize = function(){
        iframe.style.height = iframe.contentWindow.document.body.scrollHeight + 80 + 'px';
    }

</script>