<!-- <script async src="https://cdn.carbonads.com/carbon.js?serve=CKYIKKJL&placement=getbootstrapcom" id="_carbonads_js"></script> -->

<a href="https://www.hostg.xyz/aff_c?offer_id=6&aff_id=17787" target="_blank">
    <img src="/img/ES-300x250.jpg" style="padding: 20px 0">
</a>
<p style="font-size: 14px; max-width: 300px">Puedes apoyar al equipo de traducción utilizando este
    <a href="https://www.hostg.xyz/aff_c?offer_id=6&aff_id=17787" target="_blank">excelente servicio</a>. ¡Gracias!
</p>

<!-- <a href="https://esdocu.com/#donaciones" target="_blank">
    <img src="/img/esdocu-banner-donar.jpg" style="width: 100%; max-width: 800px; padding: 20px 0">
</a> -->