<iframe src="/form" id="myIframe2" frameborder="0" style="width:100%;height:260px;"></iframe>
<script>
    // Selecting the iframe element
    var iframe2 = document.getElementById("myIframe2");
    
    // Adjusting the iframe height onload event
    iframe2.onload = function(){
        iframe2.style.height = iframe2.contentWindow.document.body.scrollHeight + 80 + 'px';
    }

    window.onresize = function(){
        iframe2.style.height = iframe2.contentWindow.document.body.scrollHeight + 80 + 'px';
    }

</script>