<div class="bd-masthead mb-3" id="content">
  <div class="container px-4 px-md-3">
    <div class="row align-items-lg-center mb-5">
      <div class="col-8 mx-auto col-md-4 order-md-2 col-lg-5">
        {{ partial "icons/homepage-hero.svg" (dict "class" "img-fluid mb-3 mb-md-0" "width" "600" "height" "533") }}
      </div>
      <div class="col-md-8 order-md-1 col-lg-7 text-center text-md-start">
        <h1 class="mb-3">Crea sitios rápidos y responsive con Bootstrap</h1>
        <p class="lead mb-4">
          Diseña y personaliza rápidamente sitios responsive mobile-first con Bootstrap, el toolkit de código abierto de front-end más popular del mundo, que incluye variables de Sass y mixins, un sistema de cuadrícula responsive, amplios componentes preconstruidos y potentes complementos de JavaScript.
        </p>

        <div class="d-flex flex-column flex-md-row">
          <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/introduction/" class="btn btn-lg btn-bd-primary mb-3 me-md-3" onclick="ga('send', 'event', 'Jumbotron actions', 'Get started', 'Get started');">Empezar</a>
          <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/download/" class="btn btn-lg btn-outline-secondary mb-3" onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download {{ .Site.Params.current_version }}');">Descargar</a>
        </div>
        <p class="text-muted mb-0">
          Actualmente <strong>v{{ .Site.Params.current_version }}</strong>
          <span class="px-1">&middot;</span>
          <a href="https://getbootstrap.com/docs/4.6/getting-started/introduction/" class="link-secondary">v4.6.x docs</a>
          <span class="px-1">&middot;</span>
          <a href="/docs/versions/" class="link-secondary">Todos las versiones</a>
        </p>
      </div>
    </div>
    <div class="pt-3">
      {{ partial "ads" . }}
    </div>
  </div>
</div>
