---
interface Props {
  /**
   * La clase CSS para aplicar a la tabla.
   * Ten en cuenta que la propiedad no se usa en este componente, sino en un complemento de rehype que aplica las clases al elemento de la tabla
   * directamente en el HTML AST (HAST) generado por Astro.
   * @default "table"
   * @see src/libs/rehype.ts
   */
  class?: string
}
---

<div class="table-responsive">
  <slot />
</div>
