---
import { getCalloutByName } from '@libs/content'
import type { MarkdownInstance } from 'astro'

interface Props {
  /**
   * El nombre de una llamada (callout) existente para mostrar ubicada en `src/content/callouts`.
   * Esto anulará cualquier contenido pasado a través del slot predeterminado.
   */
  name?:
    | 'danger-async-methods'
    | 'info-mediaqueries-breakpoints'
    | 'info-npm-starter'
    | 'info-prefersreducedmotion'
    | 'info-sanitizer'
    | 'warning-color-assistive-technologies'
    | 'warning-data-bs-title-vs-title'
    | 'warning-input-support'
  /**
   * El tipo de llamada (callout) a mostrar. Uno de `info`, `danger` o `warning`.
   * @default 'info'
   */
  type?: 'danger' | 'info' | 'warning'
}

const { name, type = 'info' } = Astro.props

let Content: MarkdownInstance<{}>['Content'] | undefined

if (name) {
  const callout = await getCalloutByName(name)

  if (!callout) {
    throw new Error(`No se pudo encontrar la llamada (callout) con el nombre '${name}'.`)
  }

  const namedCallout = await callout.render()
  Content = namedCallout.Content
}
---

<div class={`bd-callout bd-callout-${type}`}>
  {Content ? <Content /> : <slot />}
</div>
