---
import { getVersionedDocsPath } from '@libs/path'
import Code from '@shortcodes/Code.astro'
---

<section class="col-lg-7 mb-5">
  <div class="masthead-followup-icon d-inline-block mb-3" style="--bg-rgb: var(--bs-primary-rgb);">
    <svg class="bi fs-1" aria-hidden="true"><use xlink:href="#palette2"></use></svg>
  </div>
  <h2 class="display-5 mb-3 fw-semibold lh-sm">Personaliza todo con&nbsp;Sass</h2>
  <p class="lead fw-normal">
    Bootstrap utiliza Sass para una arquitectura modular y personalizable. Importa solo los componentes que necesites, habilita
    opciones globales como degradados y sombras, y escribe tu propio CSS con nuestras variables, mapas, funciones y mixins.
  </p>
  <p class="d-flex lead fw-normal">
    <a href={getVersionedDocsPath('customize/overview/')} class="icon-link icon-link-hover fw-semibold">
      Más información sobre la personalización
      <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
    </a>
  </p>
</section>

<section class="row g-md-5 mb-5 pb-md-5">
  <div class="col-lg-6">
    <h3>Incluye todo el Sass de Bootstrap</h3>
    <p>Importa una sola hoja de estilos y estarás listo para usar todas las características de nuestro CSS.</p>
    <Code
      code={`// Sobrescribe las variables primero
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Luego importa Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";`}
      lang="scss"
    />
    <p>Obtén más información sobre nuestras <a href={getVersionedDocsPath('customize/options')}>opciones globales de Sass</a>.</p>
  </div>
  <div class="col-lg-6">
    <h3>Incluye lo que necesitas</h3>
    <p>La forma más sencilla de personalizar Bootstrap: incluye solo el CSS que necesitas.</p>
    <Code
      code={`// Primero las funciones
@import "../node_modules/bootstrap/scss/functions";

// Después sobrescribe las variables
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Importaciones obligatorias de Bootstrap
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Componentes opcionales
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";`}
      lang="scss"
    />
    <p>Aprende más sobre <a href={getVersionedDocsPath('customize/sass')}>cómo usar Bootstrap con Sass</a>.</p>
  </div>
</section>
