<footer class="bd-footer py-5 mt-5 bg-light">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Bootstrap">
          {{ partial "icons/bootstrap-white-fill.svg" (dict "class" "d-block me-2" "width" "40" "height" "32") }}
          <span class="fs-5">Bootstrap</span>
        </a>
        <ul class="list-unstyled small text-muted">
          <li class="mb-2">Diseñado y construido con todo el amor del mundo por el <a
              href="/docs/{{ .Site.Params.docs_version }}/about/team/">equipo de Bootstrap</a> con la ayuda de <a
              href="{{ .Site.Params.repo }}/graphs/contributors">nuestros colaboradores</a>.</li>
          <li class="mb-2">Código con licencia <a href="{{ .Site.Params.repo }}/blob/main/LICENSE" target="_blank"
              rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/"
              target="_blank" rel="license noopener">CC BY 3.0</a>.</li>
          <li class="mb-2">Actualmente v{{ .Site.Params.current_version }}.</li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5>Enlaces</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/">Inicio</a></li>
          <li class="mb-2"><a href="/docs/{{ .Site.Params.docs_version }}/">Docs</a></li>
          <li class="mb-2"><a href="/docs/{{ .Site.Params.docs_version }}/examples/">Ejemplos</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.themes }}">Temas</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.blog }}">Blog</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Guías</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/docs/{{ .Site.Params.docs_version }}/getting-started/">Guía de inicio</a></li>
          <li class="mb-2"><a href="/docs/{{ .Site.Params.docs_version }}/examples/starter-template/">Plantilla de
              inicio</a></li>
          <li class="mb-2"><a href="/docs/{{ .Site.Params.docs_version }}/getting-started/webpack/">Webpack</a></li>
          <li class="mb-2"><a href="/docs/{{ .Site.Params.docs_version }}/getting-started/parcel/">Parcel</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Projectos</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="{{ .Site.Params.github_org }}/bootstrap">Bootstrap 5</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.github_org }}/bootstrap/tree/v4-dev">Bootstrap 4</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.github_org }}/icons">Iconos</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.github_org }}/rfs">RFS</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.github_org }}/bootstrap-npm-starter">npm starter</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Comunidad</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="{{ .Site.Params.github_org }}/bootstrap/issues">Issues</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.github_org }}/bootstrap/discussions">Discussions</a></li>
          <li class="mb-2"><a href="https://github.com/sponsors/twbs">Corporate sponsors</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.opencollective }}">Open Collective</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.slack }}">Slack</a></li>
          <li class="mb-2"><a href="https://stackoverflow.com/questions/tagged/bootstrap-5">Stack Overflow</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- Esdocu donate modal -->
<div class="modal fade" id="esdocuCustomModal" tabindex="-1" aria-labelledby="esdocuCustomModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="esdocuCustomModalLabel">¡QUEREMOS TRADUCIR MUCHAS DOCUMENTACIONES!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-4 opacity-75">
        <p>
          De la mano de las 🦁 <strong>IDEAS DE LA LIBERTAD</strong> 🦁, Argentina y Latinoamérica están a punto de
          experimentar un fuerte crecimiento profesional en el mercado laboral del desarrollo de software.
        </p>
        <p>
          Es claro que todo developer debe <strong>aprender inglés</strong>, pero esto es un proceso que puede demorar
          años.
        </p>
        <p>
          Para trabajar necesitamos documentaciones hoy mismo y en español. Esta es la razón de ser del proyecto
          <a href="https://esdocu.com" target="_blank">Esdocu</a>.
        </p>
        <p>
          Mi nombre es Fabián Karaben y he desarrollado un <a href="https://youtu.be/1cvMcouK85E"
            target="_blank">software</a> que facilita la tarea de traducir sitios web de
          documentaciones Open Source, incluyendo funcionalidades para mantener las traducciones
          <strong>siempre actualizadas</strong>.
        </p>
        <p>
          Esta traducción de <strong>Bootstrap</strong> está actualizada
          (<a href="https://bootstrap-esdocu.com/docs/5.3/getting-started/introduction/" target="_blank">ir a v5.3</a>)
          y ahora mismo me encuentro traduciendo los sitios web de <strong>Dart</strong>, <strong>Flutter</strong> y
          <strong>Go</strong>.
          Posteriormente <strong>Tailwind CSS</strong>, <strong>React</strong>, <strong>Next.js</strong> y más. Todos
          los enlaces están en <a href="https://esdocu.com" target="_blank">esdocu.com</a>.
        </p>
        <p>
          Si te nace ayudarme a cubrir los costos del proyecto, te dejo algunos enlaces para que puedas realizar tu
          donación. Cada pequeño aporte ayuda mucho ya que es prácticamente imposible monetizar este contenido con
          anuncios.
        </p>
        <p>
          ¡Muchas gracias! <a href="https://twitter.com/search?q=%23VLLC" target="_blank">#VLLC</a>
        </p>
      </div>
      <div class="modal-footer">
        <a href="http://link.mercadopago.com.ar/esdocu" target="_blank" class="btn btn-success">Mercado Pago</a>
        <a href="https://paypal.me/esdocu" target="_blank" class="btn btn-success">PayPal</a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  window.onload = () => {
    setTimeout(function () {
      const myModal = new bootstrap.Modal(document.getElementById('esdocuCustomModal'));
      myModal.show();
    }, 140000);

    var tooltipTriggerList = Array.prototype.slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl);
    });
  }

</script>