---
import BaseLayout from '@layouts/BaseLayout.astro'
import GetStarted from '@components/home/GetStarted.astro'
import Customize from '@components/home/Customize.astro'
import CSSVariables from '@components/home/CSSVariables.astro'
import ComponentUtilities from '@components/home/ComponentUtilities.astro'
import MastHead from '@components/home/MastHead.astro'
import Plugins from '@components/home/Plugins.astro'
import Icons from '@components/home/Icons.astro'
import VeoBibleBanner from '@components/shortcodes/VeoBibleBanner.astro'
import VeoBibleComparisonBanner from '@components/shortcodes/VeoBibleComparisonBanner.astro'
---

<BaseLayout>
  <MastHead />
  <div class="container-xxl bd-gutter masthead-followup">
    <VeoBibleBanner id="colosenses-3-23" />
    <GetStarted />
    <Customize />
    <CSSVariables />
    <ComponentUtilities />
    <Plugins />
    <Icons />
  </div>
</BaseLayout>


<div class="my-5"><VeoBibleComparisonBanner id="comparativa-app-biblia-1" /></div>
