---
import { getVersionedDocsPath } from '@libs/path'

export const title = 'Plantilla de barra de navegación con pie de página fijo'
export const extra_css = ['sticky-footer-navbar.css']
export const html_class = 'h-100'
export const body_class = 'd-flex flex-column h-100'
---

<header>
  <!-- Barra de navegación fija -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Barra de navegación fija</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Alternar navegación">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Enlace</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Deshabilitado</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<!-- Comenzar el contenido de la página -->
<main class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Pie de página fijo con barra de navegación fija</h1>
    <p class="lead">Fija un pie de página en la parte inferior de la pantalla en navegadores de escritorio con este HTML y CSS personalizado. Se ha añadido una barra de navegación fija con <code class="small">padding-top: 60px;</code> en el <code class="small">main &gt; .container</code>.</p>
    <p>Volver al <a href={getVersionedDocsPath('/examples/sticky-footer/')}>pie de página fijo predeterminado</a> sin la barra de navegación.</p>
  </div>
</main>

<footer class="footer mt-auto py-3 bg-body-tertiary">
  <div class="container">
    <span class="text-body-secondary">Coloca el contenido del pie de página fijo aquí.</span>
  </div>
</footer>
