---
import { getVersionedDocsPath } from '@libs/path'

export const title = 'Secciones Hero'
export const extra_css = ['heroes.css']
---

<main>
  <h1 class="visually-hidden">Ejemplos de secciones Hero</h1>

  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src={getVersionedDocsPath('/assets/brand/bootstrap-logo.svg')} alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">Hero centrado</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Diseña y personaliza rápidamente sitios móviles responsivos con Bootstrap, el kit de herramientas de código abierto front-end más popular del mundo, con variables y mixins de Sass, un sistema de cuadrícula responsivo, amplios componentes prefabricados y potentes plugins de JavaScript.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Botón primario</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secundario</button>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">Captura de pantalla centrada</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Diseña y personaliza rápidamente sitios móviles responsivos con Bootstrap, el kit de herramientas de código abierto front-end más popular del mundo, con variables y mixins de Sass, un sistema de cuadrícula responsivo, amplios componentes prefabricados y potentes plugins de JavaScript.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Botón primario</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secundario</button>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="bootstrap-docs.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Imagen de ejemplo" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Hero responsivo alineado a la izquierda con imagen</h1>
        <p class="lead">Diseña y personaliza rápidamente sitios móviles responsivos con Bootstrap, el kit de herramientas de código abierto front-end más popular del mundo, con variables y mixins de Sass, un sistema de cuadrícula responsivo, amplios componentes prefabricados y potentes plugins de JavaScript.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primario</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Predeterminado</button>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Formulario de registro hero centrado verticalmente</h1>
        <p class="col-lg-10 fs-4">A continuación se muestra un formulario de ejemplo creado íntegramente con los controles de formulario de Bootstrap. Cada grupo de formulario obligatorio tiene un estado de validación que se puede activar al intentar enviar el formulario sin completarlo.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="nombre@ejemplo.com">
            <label for="floatingInput">Dirección de correo electrónico</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
            <label for="floatingPassword">Contraseña</label>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Recordarme
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Registrarse</button>
          <hr class="my-4">
          <small class="text-body-secondary">Al hacer clic en Registrarse, aceptas los términos de uso.</small>
        </form>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Hero con borde, imagen recortada y sombras</h1>
        <p class="lead">Diseña y personaliza rápidamente sitios móviles responsivos con Bootstrap, el kit de herramientas de código abierto front-end más popular del mundo, con variables y mixins de Sass, un sistema de cuadrícula responsivo, amplios componentes prefabricados y potentes plugins de JavaScript.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Primario</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Predeterminado</button>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="bootstrap-docs.png" alt="" width="720">
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Hero de color oscuro</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Diseña y personaliza rápidamente sitios móviles responsivos con Bootstrap, el kit de herramientas de código abierto front-end más popular del mundo, con variables y mixins de Sass, un sistema de cuadrícula responsivo, amplios componentes prefabricados y potentes plugins de JavaScript.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Botón personalizado</button>
          <button type="button" class="btn btn-outline-light btn-lg px-4">Secundario</button>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider mb-0"></div>
</main>
