{{- /* Usage: js-dismiss "ComponentName" */ -}}

{{- $name := .Get 0 -}}

El descarte (cierre) se puede lograr con el atributo `data` en un botón **dentro de {{ $name }}** como se muestra a continuación:

```html
<button type="button" class="btn-close" data-bs-dismiss="{{ $name }}" aria-label="Close"></button>
```

o en un botón **fuera de {{ $name }}** usando `data-bs-target` como se muestra a continuación:

```html
<button type="button" class="btn-close" data-bs-dismiss="{{ $name }}" data-bs-target="#my-{{ $name }}" aria-label="Close"></button>
```
