---
/*
 * Muestra un mensaje sobre las variantes oscuras de componentes que quedan obsoletas en v5.3.
 */

interface Props {
  component: string
}

const { component } = Astro.props
---

<div class="bd-callout bd-callout-warning">
  <p>
    <strong>¡Atención!</strong> Las variantes oscuras para los componentes quedaron obsoletas en v5.3.0 con la introducción de los modos de color.
    En lugar de agregar <code>.{component}-dark</code>, establece <code>data-bs-theme="dark"</code> en el elemento root, un contenedor padre o el propio componente.
  </p>
</div>
