---
import SingleLayout from '@layouts/SingleLayout.astro'
import VeoBibleBanner from '@components/shortcodes/VeoBibleBanner.astro'
import { getConfig } from '@libs/config'
import ExamplesMain from '@layouts/partials/ExamplesMain.astro'
export function getStaticPaths() {
  return [
    {
      params: { version: getConfig().docs_version }
    }
  ]
}
---

<SingleLayout
  title="Ejemplos"
  description="Comienza rápidamente un proyecto con cualquiera de nuestros ejemplos, que van desde el uso de partes del framework hasta componentes y diseños personalizados."
>
  <div class="d-flex flex-column flex-md-row gap-3" slot="header-content">
    <a
      href={getConfig().download.dist_examples}
      class="btn btn-lg bd-btn-lg btn-bd-primary d-flex align-items-center justify-content-center fw-semibold"
    >
      <svg class="bi me-2" aria-hidden="true"><use xlink:href="#box-seam"></use></svg>
      Descargar ejemplos
    </a>
    <a href={getConfig().download.source} class="btn btn-lg bd-btn-lg btn-outline-secondary"> Descargar código fuente</a>
  </div>
  <Fragment slot="main-content">
    <div class="mb-5"><VeoBibleBanner id="exodo-20-9" /></div>
    <ExamplesMain />
    <div class="mt-5"><VeoBibleBanner id="2-tesalonicenses-3-10" /></div>
  </Fragment>
</SingleLayout>
