---
import { getVersionedDocsPath } from '@libs/path'

export const title = 'Plantilla de pie de página fijo'
export const extra_css = ['sticky-footer.css']
export const html_class = 'h-100'
export const body_class = 'd-flex flex-column h-100'
---

<!-- Comenzar el contenido de la página -->
<main class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Pie de página fijo</h1>
    <p class="lead">Fija un pie de página en la parte inferior de la pantalla en navegadores de escritorio con este HTML y CSS personalizado.</p>
    <p>Usa <a href={getVersionedDocsPath('/examples/sticky-footer-navbar/')}>el pie de página fijo con una barra de navegación fija</a> si también es necesario.</p>
  </div>
</main>

<footer class="footer mt-auto py-3 bg-body-tertiary">
  <div class="container">
    <span class="text-body-secondary">Coloca el contenido del pie de página fijo aquí.</span>
  </div>
</footer>
